:root {
    --min-padding: 0.5em;
    --preferred-width: calc(95vw - (var(--min-padding) * 2));

    --border-radius: 8px;
}

main,
footer {
    margin: auto;
    width: min(100%, 900px);
}

main {
    padding: calc(var(--min-padding) * 2) var(--min-padding) calc(var(--min-padding) * 6) var(--min-padding);
}

footer {
    padding: calc(var(--min-padding) * 3) var(--min-padding);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* header {}

section {} */

h1 {
    margin: 0.5em 0;
}

h2 {
    margin: 0.25em 0;
}

ul {
    padding-left: 1em;
    list-style-type: unset;
}

.tool-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#image-input {
    display: none;
}

.upload-image-button {
    display: block;
    margin: auto;
    width: clamp(300px, 95vw, 434px);
    border-radius: 2em;
    background-color: var(--tertiary-clr);
    outline: none;

    box-shadow: 10px 10px 15px 2px #8b8686;
    transition: box-shadow 0.15s ease-out;
}

.upload-image-button:hover {
    box-shadow: 10px 10px 15px 5px #8b8686;
}

.upload-image-button>.mask-text {
    font-size: 1.45em;
    padding: 1em 2em;

    display: inline-block;
    background: linear-gradient(90deg, var(--primary-clr) 15%, var(--secondary-clr));
    background-clip: text;
    color: transparent;
}

.upload-warning {
    display: block;
    margin: auto;
    width: clamp(300px, 95vw, 434px);
    text-align: center;
    margin-top: 1em;
}

.svg-code-output-container,
#svg-output-preview {
    display: block;
    margin: auto;
    width: clamp(300px, 95vw, 434px);
    height: clamp(300px, 95vw, 434px);
}

.svg-code-output-container {
    position: relative;
}

#svg-code-output {
    --code-bg: #282c34;
    --code-bg-highlight: #414753;
    --code-text: #66ccbf;

    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    border: 1px solid black;

    /* code editor */
    font-family: 'Courier New', monospace;
    font-size: 0.85em;
    line-height: 1.5;
    background-color: var(--code-bg);
    color: var(--code-text);
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    resize: none;

    text-wrap: wrap;
    overflow-y: scroll;
}

#svg-code-output::selection {
    background: var(--code-bg-highlight);
    color: var(--code-text);
}

#svg-output-preview {
    border: 1px solid black;
    border-radius: var(--border-radius);
    background-color: white;
    background-image: url(../res/imgs/checkers.svg);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;

    user-select: none;
}

.svg-code-container>h2,
.svg-preview-container>h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(300px, 95vw, 434px);
}

#copy-button {
    position: absolute;
    bottom: 0;
    right: var(--scrollbar-width);

    padding: clamp(0.5em, 1vh, 1em) 0.5em;
    background-color: var(--primary-clr);
    color: var(--text-clr-3);
    border-top-left-radius: calc(var(--border-radius) / 2);

    display: flex;
    align-items: center;
    gap: 0.5em;

    user-select: none;
}

#copy-button object {
    width: 1.5em;
    height: 1.5em;
    pointer-events: none;
}

#copy-button object * {
    fill: green;
    stroke: green;
}

#svg-output-preview>svg {
    width: 100%;
    height: 100%;
}

footer {
    margin: auto;
    background-color: var(--tertiary-clr);
}

footer * {
    color: var(--text-clr-3);
}

footer a {
    color: var(--primary-clr);
    text-decoration: underline;
}

.links {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: max-content;
    gap: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.links-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    user-select: none;
}

.links-icon object {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.footer-text {
    max-width: 100%;
    width: max-content;
    margin: auto;
}

@media (width>900px) {
    footer {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .links,
    .footer-text {
        margin-left: calc(var(--min-padding) * 2);
    }
}

@media (width>1024px) {
    .tool-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1em;
    }

    .input-container {
        grid-column: 1 / -1;
    }
}