/* Outfit */

@font-face {
    font-family: "Outfit Regular";
    src: url("../../res/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit Light";
    src: url("../../res/fonts/Outfit/Outfit-Light.ttf");
}

@font-face {
    font-family: "Outfit Bold";
    src: url("../../res/fonts/Outfit/Outfit-Bold.ttf");
}

/* Ubuntu */

@font-face {
    font-family: "Ubuntu Regular";
    src: url("../../res/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("../../res/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Ubuntu Bold";
    src: url("../../res/fonts/Ubuntu/Ubuntu-Bold.ttf");
}